# Environments
.env
.env.local
.env.production
venv/
env/
__pycache__/
*.pyc
.pytest_cache/

# Dependencies
node_modules/
dist/
build/
.pnp
.pnp.js

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
